* {
  margin: 0;
  padding: 0;
  font-family: JosefinSans-VariableFont;
}

@font-face {
  font-family: JosefinSans-VariableFont;
  src: url(/Tamplates_By_OSY/fonts/JosefinSans/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: JosefinSans-Italic-VariableFont;
  src: url(/../../../fonts/JosefinSans/JosefinSans-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: JosefinSans-bold;
  src: url(./../../../fonts/JosefinSans/static/JosefinSans-bold.ttf);
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Hide any scrollbar track or thumb */
::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

body {
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
header nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}
header nav #list {
  display: none;
  position: absolute;
  width: 30px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
@media screen and (max-width: 993px) {
  header nav #list {
    display: block;
  }
}
header nav #head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px 15px;
  background: #fca625;
  width: 100%;
}
header nav #head ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header nav #head ul li {
  min-width: -moz-max-content;
  min-width: max-content;
  list-style: none;
}
header nav #head ul li a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header nav #head ul li a img {
  width: 20px;
  margin-left: 10px;
}
header nav #head ul li a p {
  margin-left: 10px;
  font-size: 15px;
  color: white;
  font-weight: 500;
}
header nav #head ul li a:hover p {
  color: rgb(41, 141, 172);
}
header nav #head ul:nth-child(1) {
  width: 70%;
}
header nav #head ul:nth-child(2) {
  width: 15%;
}
@media screen and (max-width: 993px) {
  header nav #head {
    display: none;
  }
}
header nav #body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 993px) {
  header nav #body {
    flex-direction: column;
  }
}
header nav #body .left {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 993px) {
  header nav #body .left {
    width: 100%;
  }
}
header nav #body .left div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 90px;
}
@media screen and (max-width: 993px) {
  header nav #body .left div {
    height: -moz-max-content;
    height: max-content;
    overflow-x: scroll;
    background-color: #232f3e;
  }
}
header nav #body .left div ul.global {
  width: 98%;
  margin: 0 1%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 993px) {
  header nav #body .left div ul.global {
    width: 100%;
    white-space: nowrap;
    justify-content: start;
  }
}
header nav #body .left div ul.global li {
  min-width: -moz-max-content;
  min-width: max-content;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
header nav #body .left div ul.global li a {
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
  align-items: center;
  text-decoration: none;
  width: 100%;
}
header nav #body .left div ul.global li a img {
  width: 19px;
}
@media screen and (max-width: 993px) {
  header nav #body .left div ul.global li a img {
    display: none;
  }
}
header nav #body .left div ul.global li a p {
  margin-right: 5px;
  color: black;
}
@media screen and (max-width: 993px) {
  header nav #body .left div ul.global li a p {
    color: white;
  }
}
header nav #body .left div ul.global li ul {
  display: none;
  position: absolute;
  top: 39px;
  background: #ff9800;
  z-index: 4;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 0;
}
header nav #body .left div ul.global li ul li {
  padding: 10px;
  list-style-type: none;
  background: #ff9800;
}
header nav #body .left div ul.global li ul li a {
  color: white;
  text-decoration: none;
}
header nav #body .left div ul.global li ul li:hover {
  background: #ffbf00;
}
header nav #body .left div ul.global li:nth-child(7) ul {
  left: -100px !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header nav #body .left div ul.global li:hover {
  background: #ff9800;
}
header nav #body .left div ul.global li:hover p {
  color: white;
}
@media screen and (max-width: 993px) {
  header nav #body .left div ul.global li:hover p {
    color: rgba(255, 255, 255, 0.7);
  }
}
header nav #body .left div ul.global li:hover img {
  position: relative;
  visibility: hidden;
}
header nav #body .left div ul.global li:hover ul {
  display: block;
}
@media screen and (max-width: 993px) {
  header nav #body .left div ul.global li:hover ul {
    display: none;
  }
}
@media screen and (max-width: 993px) {
  header nav #body .left div ul.global li:hover {
    background: none;
  }
}
header nav #body .right {
  width: 20%;
  height: 90px;
}
@media screen and (max-width: 993px) {
  header nav #body .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: -moz-max-content;
    height: max-content;
  }
}
header nav #body .right img {
  width: 100%;
  cursor: pointer;
}
@media screen and (max-width: 993px) {
  header nav #body .right img {
    width: 60%;
    padding: 10px;
  }
}

footer {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
footer #topfooter {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #261C3A;
  padding: 70px 0px;
}
@media screen and (max-width: 993px) {
  footer #topfooter {
    flex-direction: column;
    padding: 30px 0px;
  }
}
footer #topfooter div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  justify-content: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 993px) {
  footer #topfooter div {
    width: 100%;
    margin: 20px 0px;
  }
}
footer #topfooter div h3 {
  color: white;
  margin-bottom: 20px;
  opacity: 0.75;
  font-size: 15px;
}
@media screen and (max-width: 993px) {
  footer #topfooter div h3 {
    opacity: 1;
  }
}
footer #topfooter div ul {
  list-style-type: none;
  margin-left: 15px;
}
@media screen and (max-width: 993px) {
  footer #topfooter div ul {
    margin-left: 0px;
  }
}
footer #topfooter div ul li {
  padding: 5px;
}
footer #topfooter div ul li a {
  opacity: 0.75;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
}
footer #topfooter div ul li a:hover {
  opacity: 1;
  text-decoration: underline;
}
footer #topfooter div ul img {
  width: 35px;
  margin-bottom: 20px;
}
footer #topfooter div ul.social {
  display: flex;
  flex-direction: row;
}
footer #topfooter div.social h3 {
  opacity: 1;
  margin-bottom: 20px;
}
footer #topfooter div.social select {
  padding: 10px 30px;
  border-radius: 29px;
}
footer #buttomfooter {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: black;
  padding-bottom: 70px;
  position: relative;
}
@media screen and (max-width: 993px) {
  footer #buttomfooter {
    flex-direction: column;
  }
}
footer #buttomfooter div {
  width: 40%;
}
@media screen and (max-width: 993px) {
  footer #buttomfooter div {
    width: 100%;
    margin-bottom: 20px;
  }
}
footer #buttomfooter div span {
  color: white;
}
footer #buttomfooter div a {
  color: white;
  opacity: 0.55;
  text-decoration: none;
  align-items: center;
  font-size: 15px;
}
footer #buttomfooter div a img {
  width: 45px;
}
footer #buttomfooter div .client {
  display: flex;
  align-self: center;
  background-color: white;
  padding: 5px 20px;
  border-radius: 30px;
}
footer #buttomfooter div .client span {
  color: black;
  text-transform: capitalize;
}
footer #buttomfooter div .client img {
  margin-right: 10px;
}
footer #buttomfooter div a:hover {
  opacity: 1;
  text-decoration: underline;
}
footer #buttomfooter .cli {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer #buttomfooter .copy {
  position: absolute;
  color: white;
  opacity: 0.3;
  bottom: 15px;
  right: 40px;
  font-size: 15px;
}
@media screen and (max-width: 993px) {
  footer #buttomfooter .copy {
    position: relative;
    text-align: center;
    margin: 20px 0px;
    margin-left: 60px;
  }
}/*# sourceMappingURL=main.css.map */